In [10]:
import pandas as pd
import psycopg

connection = {"sslmode": "require", "target_session_attrs": "read-write"}
postgres_credentials = { "host": "rc1b-uh7kdmcx67eomesf.mdb.yandexcloud.net", 
                         "port": "6432",
                         "dbname": "playground_mle_20250529_05fed48463",
                         "user": "mle_20250529_05fed48463",
                         "password": "0c567edd8ad8472e87d5c85cc4d664e4" }
assert all([var_value != "" for var_value in list(postgres_credentials.values())])

connection.update(postgres_credentials)

# определим название таблицы, в которой хранятся наши данные.
TABLE_NAME = "clean_users_churn"

# эта конструкция создаёт контекстное управление для соединения с базой данных 
# оператор with гарантирует, что соединение будет корректно закрыто после выполнения всех операций 
# закрыто оно будет даже в случае ошибки, чтобы не допустить "утечку памяти"
with psycopg.connect(**connection) as conn:

# создаёт объект курсора для выполнения запросов к базе данных
# с помощью метода execute() выполняется SQL-запрос для выборки данных из таблицы TABLE_NAME
    with conn.cursor() as cur:
        cur.execute(f"SELECT * FROM {TABLE_NAME}")
                
                # извлекаем все строки, полученные в результате выполнения запроса
        data = cur.fetchall()

                # получает список имён столбцов из объекта курсора
        columns = [col[0] for col in cur.description]

# создаёт объект DataFrame из полученных данных и имён столбцов. 
# это позволяет удобно работать с данными в Python, используя библиотеку Pandas.
df = pd.DataFrame(data, columns=columns) 
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7019 entries, 0 to 7018
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 7019 non-null   int64
 1   customer_id        7019 non-null   object
 2   begin_date         7019 non-null   datetime64[ns]
 3   end_date           1863 non-null   datetime64[ns]
 4   type               7019 non-null   object
 5   paperless_billing  7019 non-null   object
 6   payment_method     7019 non-null   object
 7   monthly_charges    7019 non-null   float64
 8   total_charges      7019 non-null   float64
 9   internet_service   7019 non-null   object
 10  online_security    7019 non-null   object
 11  online_backup      7019 non-null   object
 12  device_protection  7019 non-null   object
 13  tech_support       7019 non-null   object
 14  streaming_tv       7019 non-null   object
 15  streaming_movies   7019 non-null   object
 16  gender             7019 non-null   object
 17  senior_citizen     7019 non-null   int64
 18  partner            7019 non-null   object
 19  dependents         7019 non-null   object
 20  multiple_lines     7019 non-null   object
 21  target             0 non-null      object
dtypes: datetime64[ns](2), float64(2), int64(2), object(16)
memory usage: 1.2+ MB
None

In [6]:
import warnings
warnings.simplefilter("ignore")

import pandas as pd
from sqlalchemy import create_engine
from IPython.display import display, HTML


pd.read_sql( "SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';",\
create_engine('postgresql://mle_20250529_05fed48463:0c567edd8ad8472e87d5c85cc4d664e4@'\
'rc1b-uh7kdmcx67eomesf.mdb.yandexcloud.net:6432/playground_mle_20250529_05fed48463') )[:50]

                  table_name
0            alembic_version
1            alt_users_churn
2                  buildings
3          clean_users_churn
4                   datasets
5            experiment_tags
6                experiments
7                      flats
8                 input_tags
9                     inputs
10            latest_metrics
11                   metrics
12        model_version_tags
13            model_versions
14                    params
15  registered_model_aliases
16     registered_model_tags
17         registered_models
18                      runs
19                      tags
20           users_churn.csv
21          users_churn.xlsx